

GtkMenuItem {
    background: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}

GtkMenuItem GtkLabel {
    color: @active_writing;
    font: Bariol 14;
}

GtkMenuItem:hover {
    background: @kano_green;
    color: #ffffff;
}

/* These control the arrow button styling */
GtkImageMenuItem {
    padding-top: 10px;
    padding-bottom: 10px;
}

GtkImageMenuItem:hover {
    background: @kano_green;
}

.KanoComboBox {
    background: #ffffff;
    border-color: @active_border;
    border-style: solid;
    border-width: 2px;
    border-radius:3px;
    padding: 9px;
}

.KanoComboBox GtkLabel {
    color: @active_writing;
    font: Bariol 14;
}
