.DS_Store

*~
*.swp
*.swo
*.pyo
*.pyc

*.o
*.a
*.so*
*.dylib
*.mo
po/messages.pot

# Compiled files
kano-keys-pressed/kano-keys-pressed
kano-launcher/kano-kill-ns
kano-launcher/kano-launcher
kano-splash/kano-get-start-time
kano-splash/kano-splash
