Source: kano-toolset
Maintainer: Alejandro Simon <alejandro@kano.me>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: kano-toolset
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Collection of tools for Kanux
