#!/usr/bin/make -f

%:
	cd po && make
	dh $@

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip -plibkano-networking --dbg-package=libkano-networking-dbg
	dh_strip -plibkano-python --dbg-package=libkano-python-dbg
	dh_strip -plibparson --dbg-package=libparson-dbg
